$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$font-family-sans-serif: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$screen-sm-min: 992px !default;
$container-md: 100% !default;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// 
// 
.btn-a {
    @include button-variant(#ffffff, #f18fb9, #f18fb9);
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
}
.table-a {
    border-bottom: 1px solid #cccccc;
    &.table-striped {
        > tbody {
            > tr {
                &:nth-of-type(odd) {
                    background-color: #e1e4e9;
                }
                &:nth-of-type(even) {
                    background-color: #fafbfd;
                }
            }
        }
    }
    thead, tbody {
        > tr {
            > td, > th {
                border: none;
                border-right: 3px solid #ffffff;
                border-bottom: 3px solid #ffffff;
                @media (min-width: $screen-sm-min) {
                    padding-left: 88px;
                }
            }
            > td {
                color: #666666;
            }
        }
    }
    thead {
        > tr {
            > td, > th {
                &:last-child {
                    border: none;
                }
            }
            th {
                background-color: #00b9e6;
                color: #ffffff;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
    tbody {
        > tr {
            &:last-child {
                > td, > th {
                    border: none;
                }
            }
            td {
                padding-top: 9px;
                padding-bottom: 9px;
            }
        }
    }
}
/**
 * 头部导航
 */

#main-nav {
    background-color: #ffffff;
    border: none;
    margin-bottom: 0px;
    .container {
        .navbar-header {
            color: #00b9e6;
            .navbar-btn {
                background-color: transparent;
                border: none;
                .iconfont {
                    font-size: 24px;
                }
                &:hover {
                    color: darken(#00b9e6, 20%);
                }
            }
            .navbar-brand {
                float: none;
                img {
                    margin: 0 auto;
                }
            }
        }
        @media (min-width: $screen-sm-min) {
            overflow: hidden;
            .navbar-collapse {
                z-index: 1000;
                ul.navbar-nav {
                    float: none;
                    > li {
                        width: 11%;
                        text-align: center;
                        > a {
                            float: left;
                            padding-top: 8px;
                            padding-bottom: 7px;
                            margin-top: 72px;
                            margin-bottom: 73px;
                            margin-left: 10px;
                            margin-right: 10px;
                            color: #00b9e6;
                            border-radius: 8px;
                            white-space: nowrap;
                            &:hover {
                                color: #ffffff;
                                background-color: #f18fb9;
                            }
                        }
                        &.active {
                            > a {
                                color: #ffffff;
                                background-color: #f18fb9;
                            }
                        }
                        &.home {
                            width: 7%;
                        }
                        &.search {
                            width: 5%;
                        }
                        &.logo {
                            width: 22%;
                            a {
                                float: none;
                                margin-left: 0;
                                padding-top: 0;
                                margin-top: 30px;
                                margin-bottom: 0;
                                &:hover {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/**
 * banner
 */

.banner {
    background: #fff url(../images/banner_border.png) left top repeat-x;
    background-size: 100% 4px;
    padding-top: 4px;
    .owl-carousel {
        position: relative;
        .owl-controls {
            @include container-fixed;
            @media (min-width: $screen-sm-min) {
                width: $container-sm;
            }
            @media (min-width: $screen-md-min) {
                width: $container-md;
            }
            @media (min-width: $screen-lg-min) {
                width: $container-lg;
            }
            text-align: right;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1111;
            margin: 0 auto;
            .owl-pagination {
                .owl-page {
                    span {
                        border-radius: 0;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #f18fb9;
                        background-color: #ffffff;
                        opacity: 1;
                    }
                    &.active {
                        span {
                            background-color: #f18fb9;
                        }
                    }
                }
            }
            .owl-buttons {
                @include clearfix;
                .owl-prev, .owl-next {
                    background-color: transparent;
                    .iconfont {
                        font-size: 48px;
                    }
                }
                .owl-prev {
                    float: left;
                }
                .owl-next {
                    float: right;
                }
            }
        }
        .banner-item {
            background: url(../images/banner_bg_01.jpg) center top no-repeat;
            overflow-x: hidden;
            .container {
                height: 100%;
                height: 280px;
                position: relative;
                @media (min-width: $screen-sm-min) {
                    background-size: 100% 407px;
                    height: 407px;
                    img {
                        margin-left: 30px;
                    }
                }
                img {
                    width: auto;
                    height: 100%;
                    margin-left: -50px;
                    @media (min-width: $screen-sm-min) {
                        margin-left: 0px;
                    }
                }
                .description {
                    position: absolute;
                    width: 50%;
                    right: 10px;
                    top: 75px;
                    @media (min-width: $screen-sm-min) {
                        top: 120px;
                    }
                    text-align: right;
                    h3 {
                        font-size: 30px;
                        font-weight: bold;
                        color: #f18fb9;
                        @media (min-width: $screen-sm-min) {
                            font-size: 48px;
                        }
                    }
                    p {
                        color: #f18fb9;
                        margin-top: 15px;
                    }
                    div {
                        margin-top: 30px;
                        a {
                            color: #fff;
                            background-color: #f18fb9;
                            padding: 3px 20px;
                            @media (min-width: $screen-sm-min) {
                                padding: 10px 40px;
                            }
                            border-radius: 8px;
                        }
                    }
                }
            }
            &.banner-item-1 {
                background-image: url(../images/banner_bg_01.jpg);
                .container {
                    .description {
                        h3 {
                            color: #f18fb9;
                        }
                        p {
                            color: #f18fb9;
                        }
                        div {
                            a {
                                color: #fff;
                                background-color: #f18fb9;
                            }
                        }
                    }
                }
            }
            &.banner-item-2 {
                background-image: url(../images/banner_bg_02.jpg);
                .container {
                    .description {
                        h3 {
                            color: #3275a6;
                        }
                        p {
                            color: #3275a6;
                        }
                        div {
                            a {
                                color: #fff;
                                background-color: #3275a6;
                            }
                        }
                    }
                }
            }
            &.banner-item-3 {
                background-image: url(../images/banner_bg_03.jpg);
                .container {
                    .description {
                        h3 {
                            color: #12bee8;
                        }
                        p {
                            color: #12bee8;
                        }
                        div {
                            a {
                                color: #fff;
                                background-color: #12bee8;
                            }
                        }
                    }
                }
            }
        }
    }
    &.banner-zhengxing, &.banner-aboutus {
        .owl-carousel {
            .owl-controls {
                bottom: 0px;
                top: auto;
                text-align: left;
                @media (min-width: $screen-sm-min) {
                    text-align: right;
                    bottom: auto;
                    top: 20px;
                }
                width: 100%;
                .owl-pagination {
                    @media (min-width: $screen-sm-min) {
                        width: $container-sm;
                    }
                    @media (min-width: $screen-md-min) {
                        width: $container-md;
                    }
                    @media (min-width: $screen-lg-min) {
                        width: $container-lg;
                    }
                    margin: 0 auto;
                    .owl-page {
                        span {
                            border-radius: 5px;
                            border-width: 2px;
                            border-style: solid;
                            border-color: #ffffff;
                            background-color: transparent;
                            opacity: 0.7;
                        }
                        &.active {
                            span {
                                opacity: 1;
                                background-color: #ffffff;
                            }
                        }
                    }
                }
                .owl-buttons {
                    display: none;
                    margin-top: 30px;
                    @media (min-width: $screen-sm-min) {
                        display: block;
                    }
                }
            }
            .banner-item {
                background: url(../images/banner_bg_04.jpg) center top no-repeat;
                @media (min-width: $screen-sm-min) {
                    background-size: 100% 260px;
                }
                .container {
                    height: 100%;
                    height: 260px;
                    position: relative;
                    img {
                        width: auto;
                        height: 100%;
                        margin-right: -200px;
                        float: right;
                        @media (min-width: $screen-sm-min) {
                            margin-right: 0px;
                        }
                    }
                    @media (min-width: $screen-sm-min) {
                        height: 260px;
                        background-size: 100% 260px;
                    }
                    .description {
                        position: absolute;
                        width: 100%;
                        left: 10px;
                        top: 75px;
                        text-align: left;
                        h3 {
                            font-size: 34px;
                            font-weight: normal;
                            color: #ffffff;
                            @media (min-width: $screen-sm-min) {
                                font-size: 48px;
                            }
                        }
                        p {
                            color: #ffffff;
                            margin-top: 15px;
                        }
                    }
                }
                &.banner-item-2 {
                    .container {
                        img {
                            margin-right: -100px;
                        }
                    }
                }
                &.banner-item-3 {
                    .container {
                        img {
                            margin-right: -15px;
                        }
                    }
                }
                &.banner-item-4 {
                    .container {
                        img {
                            margin-right: -75px;
                        }
                    }
                }
            }
        }
    }
    &.banner-aboutus {
        .owl-carousel {
            .banner-item {
                background: url(../images/banner_bg_05.jpg) center top no-repeat;
            }
        }
    }
}
/**
 * news
 */

.news {
    background-color: #00b9e6;
    color: #ffffff;
    line-height: 30px;
    padding: 10px 0;
    .container {
        .iconfont {
            vertical-align: middle;
        }
        .icon-split {
            font-size: 12px;
        }
        .icon-tongzhi {
            font-size: 24px;
            font-weight: normal;
        }
        span {
            margin: 0 10px;
        }
        .controls {
            a {
                color: #ffffff;
                text-decoration: none;
                &:hover, &:focus {
                    color: darken(#ffffff, 20%);
                }
            }
        }
    }
}
.home-content {
    margin-top: 35px;
    margin-bottom: 50px;
    .container {
        > .row {
            > .col-sm-4 {
                position: relative;
                padding-left: 2.5px;
                padding-right: 2.5px;
                margin-bottom: 40px;
                img {
                    width: 100%;
                }
                .description {
                    position: absolute;
                    right: 15px;
                    top: 0px;
                    color: #ffffff;
                    text-align: right;
                    padding-left: 40%;
                    h4 {
                        font-size: 18px;
                        margin: 25% 0 20px;
                    }
                    p {
                        line-height: 2;
                    }
                }
            }
        }
    }
}
/**
 * footer
 */

.footer {
    background: #f2f1f1;
    padding: 20px 0px;
    @include clearfix;
    .sitemap {
        text-align: center;
        @media (min-width: $screen-sm-min) {
            float: left;
        }
        a {
            color: #333333;
            a:hover, a:focus {
                color: lighten(#333333, 20%);
            }
        }
    }
    .copyright {
        text-align: center;
        margin: 10px 0px 0;
        line-height: 1.8;
        @media (min-width: $screen-sm-min) {
            text-align: right;
            margin-top: 0px;
        }
    }
}
/**
 * 整形美容内容区
 */

.zhengxing-content {
    margin-top: 20px;
    h1, h2, {
        text-align: center;
        font-size: 24px;
        margin-top: 35px;
        @media (min-width: $screen-sm-min) {
            font-size: 32px;
        }
        font-weight: normal;
        img {
            margin: 0 20px;
            vertical-align: middle;
        }
    }
    h1 {
        font-size: 32px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .container {
        .container-400, .container-590, .container-800 {
            @include container-fixed;
            @media (min-width: $screen-sm-min) {
                width: 590px;
            }
            .circle {
                width: 156px;
                border-radius: 156px;
                border: 3px solid #f18fb9;
                background-color: #f5f5f5;
                color: #808080;
                text-align: center;
                margin-top: 20px;
                &.mulit_line {
                    font-size: 0;
                    line-height: 150px;
                    span {
                        font-size: 24px;
                        display: inline-block;
                        line-height: 1.5;
                        vertical-align: middle;
                    }
                    i {
                        width: 0;
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 0;
                    }
                }
            }
        }
        .container-800 {
            @media (min-width: $screen-sm-min) {
                width: 800px;
            }
            .circle {
                padding-left: 5px;
                padding-right: 5px;
                &.mulit_line {
                    span {
                        font-size: 18px;
                    }
                }
            }
            &.fs-24 {
                .circle {
                    &.mulit_line {
                        span {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
        .container-400 {
            @media (min-width: $screen-sm-min) {
                width: 400px;
            }
            .circle {
                padding-left: 5px;
                padding-right: 5px;
                &.mulit_line {
                    span {
                        font-size: 24px;
                    }
                }
            }
        }
        .color-l {
            color: #4098b8;
        }
        .color-e {
            color: #00b050;
        }
        .color-a {
            color: #ffc000;
        }
        .color-d {
            color: #f80673;
        }
        .heading {
            text-align: center;
            font-size: 32px;
            margin-top: 50px;
            span {
                font-size: 72px;
            }
            strong {
                font-weight: normal;
            }
        }
        .body {
            color: #666666;
            text-align: center;
            .t1, .t2, .t3 {
                margin: 10px 0;
            }
            @media (min-width: $screen-sm-min) {
                text-align: left;
                .table {
                    display: table;
                }
                .table-cell {
                    display: table-cell;
                }
                .t1 {
                    width: 32%;
                    font-size: 24px;
                    padding-left: 20%;
                    span {
                        font-size: 32px;
                    }
                }
                .t2 {
                    width: 10%;
                    text-align: center;
                    font-size: 24px;
                }
            }
            .t1 {
                font-size: 24px;
                span {
                    font-size: 32px;
                }
            }
            .t2 {
                font-size: 24px;
            }
        }
    }
    @media (min-width: $screen-sm-min) {
        .table-data {
            .col-sm-8 {
                padding-right: 0;
            }
            .col-sm-4 {
                padding-left: 0;
                .table {
                    margin-left: -2px;
                }
            }
        }
    }
    .thumbnail-gallery {
        .col-xs-6 {
            padding: 0;
        }
        .col-sm-6 {
            padding: 5px;
        }
        .thumbnail {
            text-decoration: none;
            border: none;
            .caption {
                p {
                    text-align: center;
                    font-size: 16px;
                }
            }
        }
    }
    .step {
        color: #ffffff;
        font-size: 24px;
        .col-sm-4 {
            line-height: 60px;
            white-space: nowrap;
            margin-bottom: 3px;
            padding-right: 0px;
            background: #94c8e9 url(../images/icon_03.jpg) right center no-repeat;
            @media (min-width: $screen-sm-min) {
                background: #94c8e9 url(../images/icon_05.jpg) right center no-repeat;
            }
            @media (min-width: $screen-sm-min) {
                &:last-child {
                    background-image: none;
                }
            }
        }
    }
    .yanbu {
        text-align: center;
        h3 {
            font-size: 32px;
            margin: 30px;
        }
        p {
            color: #666666;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: left;
            li {
                color: #666666;
                line-height: 2;
                margin-bottom: 25px;
                .icon-yuandian {
                    color: #c66497;
                    float: left;
                    margin-right: 10px;
                }
            }
        }
    }
}
.call-me {
    ul {
        list-style: none;
        margin: 0;
        padding: 0px;
        @media (min-width: $screen-sm-min) {
            text-align: center;
        }
        li {
            text-align: center;
            font-size: 24px;
            &.phone-num {
                font-size: 32px;
                color: #e58ab0;
            }
            p {
                margin-top: 20px;
                font-size: 16px;
                color: #666666;
            }
            @media (min-width: $screen-sm-min) {
                display: inline-block;
                margin: 20px;
                vertical-align: middle;
            }
        }
    }
}
.yiqi-content {
    margin: 30px 0;
    @media (min-width: $screen-sm-min) {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .container {
        overflow-x: hidden;
        .col-sm-6 {
            position: relative;
            &:first-child {
                padding: 0;
            }
            &:last-child {
                padding: 0;
            }
            .thumbnail {
                padding: 0;
                border: none;
                margin-bottom: 0;
            }
            h1, dl {
                padding: 0 15px;
                @media (min-width: $screen-sm-min) {
                    padding: 0 30px;
                }
            }
            h1 {
                @media (min-width: $screen-sm-min) {
                    margin-top: 70px;
                    margin-bottom: 30px;
                }
                font-size: 32px;
                padding: 0 15px;
            }
            dl {
                dt, dd {
                    margin-bottom: 15px;
                    @media (min-width: $screen-sm-min) {
                        margin-bottom: 25px;
                    }
                }
                dt {
                    color: #00b9e6;
                    float: left;
                    margin-right: 20px;
                }
                dd {
                    color: #666666;
                }
            }
            .iconfont {
                position: absolute;
                color: #ffffff;
                font-size: 48px;
                &.icon-sanjiao3, &.icon-sanjiao4 {
                    top: 50%;
                    margin-top: -34px;
                    right: -10px;
                }
                &.icon-sanjiao2 {
                    bottom: -22px;
                    left: 50%;
                    margin-left: -34px;
                }
            }
            &.col-sm-push-6 {
                .icon-sanjiao3, .icon-sanjiao4 {
                    left: -10px;
                }
            }
        }
    }
}
.address-content {
    h1 {
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 20px;
        text-align: center;
        @media (min-width: $screen-sm-min) {
            font-size: 32px;
            margin-top: 70px;
            margin-bottom: 25px;
        }
    }
    .map {
        height: 388px;
        position: relative;
        margin: 0 -15px;
        margin-bottom: 20px;
        @media (min-width: $screen-sm-min) {
            margin-bottom: 60px;
        }
        #allmap {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        dl {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            width: 100%;
            background-color: #17bee5;
            padding: 20px 10px;
            color: #ffffff;
            opacity: 0.9;
            @media (min-width: $screen-sm-min) {
                padding: 20px 35px;
            }
            dt {
                font-size: 24px;
                font-weight: normal;
            }
            dd {
                font-size: 16px;
            }
            .location {}
        }
    }
    .panel-default {
        border-radius: 0;
        border-color: #cdced0;
        .panel-heading {
            text-align: center;
            background-color: #e1e4e9;
            font-size: 24px;
            padding-top: 20px;
            padding-bottom: 20px;
            img {
                margin-right: 10px;
                vertical-align: middle;
            }
        }
        .panel-body {
            font-size: 16px;
            padding: 10px 10px;
            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                li {
                    border-bottom: 1px solid #cdced0;
                    padding: 10px;
                    text-align: center;
                    @media (min-width: $screen-sm-min) {
                        text-align: left;
                        padding-left: 75px;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
.shiming-content {
    margin-top: 40px;
    .box {
        padding: 50px 15px;
        background-color: #fafafa;
        margin-bottom: 20px;
        h1 {
            font-size: 32px;
            margin-bottom: 30px;
            small {
                display: block;
                font-size: 24px;
                color: #ed94bc;
                margin-top: 5px;
            }
        }
        p {
            color: #666666;
            margin-bottom: 10px;
            line-height: 1.8;
            &.eng {
                color: #999999;
            }
        }
        .sub-box {
            position: relative;
            padding-left: 40px;
            h2 {
                color: #666666;
                font-size: 24px;
                small {
                    color: #666666;
                    margin-left: 10px;
                }
            }
            .iconfont {
                position: absolute;
                color: #d26ea2;
                left: 15px;
                top: 2px;
                @media (min-width: $screen-sm-min) {
                    top: 22px;
                }
            }
        }
    }
}
.yisheng-content {
    margin-top: 40px;
    margin-bottom: 40px;
    h1 {
        text-align: center;
        font-size: 24px;
        @media (min-width: $screen-sm-min) {
            font-size: 32px;
        }
    }
    ul.center {
        @media (min-width: $screen-sm-min) {
            text-align: center;
        }
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            margin-left: 10px;
            @media (min-width: $screen-sm-min) {
                display: inline-block;
                margin-left: 30px;
            }
            .icon-yuandian {
                color: #d26ea2;
                margin-right: 10px;
            }
        }
    }
    .info {
        margin-top: 20px;
        @media (min-width: $screen-sm-min) {
                margin-top: 50px;
            }
        .img-responsive {
            display: block;
            margin: 0 auto;
        }
        h1 {
            text-align: left;
        }
        p {
            color: #666666;
        }
    }
}
